<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <form method="get" th:action="@{/verificarLogin}">
                <div style="display: grid;justify-content: center;">
                    <label>Email:</label>
                    <input type="text" id="email" name="email">

                    <label>Senha:</label>
                    <input type="password" id="senha" name="senha">
                    <div>
                        <button type="submit" id="login">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>