<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form method="post" th:action="@{/salvarHabitos}">
                        <div style="display: grid;justify-content: center;">
                            <label>Descrição</label>
                            <input type="text" id="descricao" name="descricao">
                            <div>
                                <button type="submit" id="salvarTarefas">Salvar Tarefas</button>
                            </div>
                        </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="post" th:action="@{/cadastrarUsuario}">
                    <div style="display: grid;justify-content: center;">
                        <label>Usuário: </label>
                        <input type="text" id="nome" name="nome">

                        <label>Email: </label>
                        <input type="text" id="email" name="email">

                        <label>Senha: </label>
                        <input type="password" id="senha" name="senha">
                        <div>
                            <button type="submit" id="salvarUsuario">Salvar Usuário</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <form method="post" th:action="@{/cadastrarTarefas}">
                    <div style="display: grid;justify-content: center;">
                        <label>Descrição: </label>
                        <input type="text" id="descricaoTarefas" name="descricao">

                        <label>Data limite: </label>
                        <input type="date" id="dataLimite" name="data_limite">

                        <label>Concluído: </label>
                        <input type="checkbox" id="concluida" name="concluida">

                        <div>
                            <input type="hidden" value="">
                            <button type="submit" id="salvarTarefa">Salvar Usuário</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>