#welcome-form,
#chat-room {
    display: none;
}

#messages {
    border: 1px solid #ddd; 
    padding: 10px; 
    height: 300px; 
    overflow-y: scroll; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
